body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffeb9c;
    margin: 0;
}

.container {
    background: #e2fce5;
    padding: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 400px;
}

.language-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.language-section label {
    margin-right: 10px;
    font-weight: bold;
}

.converter-section {
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background: #62b0f8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
